@import "../../assets//styles/config";

.checkout {
  h2 {
    font-family: "Kumbh Sans", sans-serif;
  }
  input {
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div {
    margin-top: 20px;
  }
}

.other-input {
  width: 100%;
}

.expiration {
  width: 25%;
}

.final-pay {
  margin-top: 7px;
  background-color: $accent;
  color: rgb(2, 0, 0);
  border: none;
  border-radius: 4px;
}
