@import "../../assets/styles/config";

.holder {
  h2 {
    font-family: Courgette;
  }
  width: $width;
  margin: 30px auto;
  h3 {
    text-decoration: underline;
  }
}

@media screen and (max-width: 700px) {
  .holder {
    width: 100%;
    padding: 15px;
  }
}
