.section {
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  transition: filter 1s;
  width: 300px;
  cursor: pointer;
}

.content {
  width: 80%;
  padding-top: 80%;
  margin: auto;
  text-align: center;
  color: white;
  div {
    width: 80%;
    background-color: white;
    color: black;
    margin: auto;
    height: 30px;
    cursor: pointer;
    span {
      display: inline-block;
      padding-top: 5px;
    }
  }
}

.section:hover {
  filter: grayscale(100%);
}
