@import "../../assets/styles/config";

.footer {
  width: 100%;
  background-color: $accent;
}

.main-footer {
  display: flex;
  padding: 3%;
  width: $width;
  margin: auto;
  justify-content: space-between;
  div:nth-of-type(1) {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .main-footer {
    display: block;
    width: 100%;
    text-align: center;
    div {
      margin-bottom: 2%;
      text-align: center;
    }
  }
  .footer-intro {
    text-align: center !important;
    margin: auto;
  }
}
